{% extends 'base.html' %}

{% block active_trabajadores %}active{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Trabajadores</h3>
    <a href="{% url 'crear_trabajador' %}" class="btn btn-primary">
        Nuevo trabajador
    </a>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>DNI</th>
            <th>Sede</th>
            <th>Local</th>
            <th>Dependencia</th>
            <th>Unidad</th>
            <th>Área</th>
            <th>Sub Área</th>
            <th>Ambiente</th>
            <th>Piso</th>
            <th>Referencia</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for trabajador in trabajadores %}
        <tr>
            <td>{{ trabajador.usuario }}</td>
            <td>{{ trabajador.dni }}</td>
            <td>{{ trabajador.sede }}</td>
            <td>{{ trabajador.local }}</td>
            <td>{{ trabajador.dependencia }}</td>
            <td>{{ trabajador.unidad }}</td>
            <td>{{ trabajador.area }}</td>
            <td>{{ trabajador.sub_area }}</td>
            <td>{{ trabajador.ambiente }}</td>
            <td>{{ trabajador.piso }}</td>
            <td>{{ trabajador.referencia }}</td>

            <td>
                <a href="{% url 'editar_trabajador' trabajador.id %}"
                   class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i>
                </a>

                <a href="{% url 'eliminar_trabajador' trabajador.id %}"
                   class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="12" class="text-center">
                No hay trabajadores registrados
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}  