{% extends 'documentos/base.html' %}

{% block title %}Registros de Documentos{% endblock %}

{% block active_registros %}
active
{% endblock %}

{% block content %}



    
    <div class="card shadow border-0 rounded-4">

        <div class="card-header bg-success text-white py-3">
            <h4 class="mb-0">
                📤 Registro de Salida
            </h4>
        </div>

        <div class="card-body">

            <div class="alert alert-info">

                <h5>Documento seleccionado</h5>

                <hr>

                <p><strong>Expediente:</strong> {{ documento.numero_expediente }}</p>

                <p><strong>Tipo:</strong> {{ documento.tipo_documento }}</p>

                <p><strong>N° Documento:</strong> {{ documento.numero_documento }}</p>

                <p><strong>Autor:</strong> {{ documento.autor }}</p>

                <p><strong>Asunto:</strong> {{ documento.asunto }}</p>

            </div>

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            Fecha de salida
                        </label>

                        {{ form.fecha_salida }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            Oficina a derivar
                        </label>

                        {{ form.oficina_derivada }}
                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            ¿Firmó el jefe?
                        </label>

                        <div class="form-check mt-2">
                            {{ form.firmo_jefe }}
                        </div>

                    </div>

                    <div class="col-md-12 mb-3">

                        <label class="form-label">
                            Link Google Drive
                        </label>

                        {{ form.link_drive }}

                    </div>

                </div>

                <hr>

                <div class="d-flex justify-content-between">

                    <a href="{% url 'registros_documentos' %}" class="btn btn-secondary">
                        ← Volver
                    </a>

                    <button type="submit" class="btn btn-success">
                        Guardar salida
                    </button>

                </div>

            </form>

        </div>

    </div>





<script>

document.querySelectorAll('input:not([type=checkbox]), select, textarea').forEach(function(element){
    element.classList.add('form-control');
});

</script>

{% endblock %}