{% extends 'documentos/base.html' %}

{% block title %}Registros de Documentos{% endblock %}

{% block active_registros %}
active
{% endblock %}

{% block content %}

    <!-- TABLA DE DOCUMENTOS REGISTRADOS -->
    <div class="card table-card">
        <div class="card-header bg-white border-0 py-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="fw-bold mb-0">Documentos registrados</h5>

                <input type="text" class="form-control w-25" placeholder="Buscar...">
            </div>

            <div class="d-flex gap-2">
                <a href="{% url 'reserva_numero_documento' %}" class="btn btn-warning rounded-pill px-4">
                    <i class="bi bi-journal-plus me-1"></i> RESERVAR NUMERO DE DOCUMENTO
                </a>

                <a href="{% url 'crear_documento' %}" class="btn btn-primary rounded-pill px-4">
                    <i class="bi bi-plus-circle me-1"></i> Nuevo documento
                </a>

                <a href="{% url 'reservas_documentos' %}"
                    class="btn btn-info rounded-pill px-4">
                    <i class="bi bi-journal-text"></i>
                    Ver Reservas
                </a>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Fecha ingreso</th>
                            <th>Expediente</th>
                            <th>Tipo</th>
                            <th>N° Documento</th>
                            <th>Autor</th>
                            <th>Oficina</th>
                            <th>Firma jefe</th>
                            <th>Estado</th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for doc in documentos %}
                        <tr>
                            <td>{{ doc.fecha_ingreso }}</td>
                            <td>{{ doc.numero_expediente }}</td>
                            <td>
                                <span class="badge badge-soft rounded-pill text-primary">
                                    {{ doc.tipo_documento }}
                                </span>
                            </td>
                            <td>{{ doc.numero_documento }}</td>
                            <td>{{ doc.autor }}</td>
                            <td>{{ doc.oficina_derivada }}</td>
                            <td>
                                {% if doc.firmo_jefe %}
                                <span class="badge bg-success">Sí</span>
                                {% else %}
                                <span class="badge bg-warning text-dark">No</span>
                                {% endif %}
                            </td>

                            <td>
                                {% if doc.estado == 'PENDIENTE' %}
                                <span class="badge bg-warning text-dark">
                                    🟡 Pendiente
                                </span>

                                {% elif doc.estado == 'DERIVADO' %}
                                <span class="badge bg-success">
                                    🟢 Derivado
                                </span>

                                {% elif doc.estado == 'ARCHIVADO' %}
                                <span class="badge bg-primary">
                                    🔵 Archivado
                                </span>

                                {% endif %}
                            </td>

                            <td class="text-end">
                                {% if doc.link_drive %}
                                <a href="{{ doc.link_drive }}" target="_blank" class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                                {% endif %}

                                {% if doc.estado != 'ARCHIVADO' %}
                                <a href="{% url 'editar_documento' doc.id %}"
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {% endif %}

                                {% if doc.estado == 'PENDIENTE' %}
                                <a href="#" class="btn btn-sm btn-outline-danger btn-eliminar"
                                    data-url="{% url 'eliminar_documento' doc.id %}"
                                    data-expediente="{{ doc.numero_expediente }}">
                                    <i class="bi bi-trash"></i>
                                </a>
                                {% endif %}

                                {% if doc.estado == 'PENDIENTE' %}
                                <a href="{% url 'registrar_salida' doc.id %}"
                                    class="btn btn-sm btn-outline-success">
                                    <i class="bi bi-box-arrow-right"></i>
                                </a>
                                {% endif %}

                                {% if doc.estado == 'DERIVADO' %}
                                <a href="{% url 'archivar_documento' doc.id %}" class="btn btn-sm btn-outline-dark">
                                    <i class="bi bi-archive"></i>
                                </a>
                                {% endif %}


                                <a href="{% url 'detalle_documento' doc.id %}" class="btn btn-sm btn-outline-dark">
                                    Historial
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center py-5 text-muted">
                                <i class="bi bi-inbox fs-1 d-block mb-2"></i>
                                No hay documentos registrados todavía.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
         
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.querySelectorAll('.btn-eliminar').forEach(btn => {

        btn.addEventListener('click', function (e) {
            e.preventDefault();

            const url = this.dataset.url;
            const expediente = this.dataset.expediente;

            Swal.fire({
                title: '¿Eliminar documento?',
                text: `Expediente: ${expediente}`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {

                if (result.isConfirmed) {

                    Swal.fire({
                        title: 'Eliminado',
                        text: 'El documento fue eliminado correctamente.',
                        icon: 'success',
                        timer: 1200,
                        showConfirmButton: false
                    });

                    setTimeout(() => {
                        window.location.href = url;
                    }, 1200);
                }

            });

        });

    });
</script>
